#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app_list-wrapper {
  // border: 1px solid black;

  display: block;
    // flex-direction: column;

  // display: flex;
  // // flex-direction: row;
  // justify-content: space-evenly;
  margin: 0 auto;
  // max-width: 750px;
  color: var(--grey-color);
}

.app_list-container {
  // border: 1px solid black;
  margin: 0 auto;
  // padding: 1rem;
  max-width: 320px;
}

.display-msg {
  font-size: 1.5rem;
}

@media (min-width: 40em) {
  .app_list-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 750px;
  }
}