#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app__header {
  color: var(--grey-color);
}

.app_list-wrapper {
  // border: 1px solid black;

  display: block;
  margin: 0 auto;
  color: var(--grey-color);
}

.app_list-container {
  // border: 1px solid black;
  margin: 0 auto;
  max-width: 320px;
}

.display-msg {
  font-size: 1.5rem;
}

.list_header {
  font-size: 1.5rem;
  color: var(--lavender-color);
  border-bottom: 2px solid var(--lavender-color);
}

.list_form {
  display: flex;
  justify-content: center;

  input {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0px 1rem;
  }

  button {
    background-color: #fff;
    color: var(--grey-color);
    border: none;
    border-radius: 50%;

    height: 2em;
    width: 2em;
    font-size: 1.5rem;
  }

  button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(-2px);
  }
}

@media (min-width: 40em) {
  .app_list-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 750px;
  }
}
