#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app_list-wrapper {
  border: 1px solid black;

  display: flex;
  // flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 750px;
  color: var(--grey-color);
}

.app_list-container {
  // padding: 1rem;
  max-width: 320px;
}

.display-msg {
  font-size: 1.5rem;
}