@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

:root {
  font-family: 'Gaegu', cursive;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(58, 55, 56); */
  /* background-color: rgb(191, 184, 174); */

  --grey-color: rgb(114, 114, 114, 0.85);
  /* --grey-color: rgb(191, 184, 174); */
  
}
